.blogSidebar {
 
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogSidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogSidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.blogSidebar img {
    margin-top: 15px;
}

.blogSidebarItem p{
    padding: 30px;
}

.blogSidebarList {
    list-style: none;
    margin-bottom: 30px;
}

.blogSidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}