.FooterSection {
    background-color: beige;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.row {
    justify-content: center;

}

.NavIcons {
    justify-items: center;
}

.col {
    margin: 10px;
}

.FooterBrand {
    align-items: center;
}

.FooterSection img {

    background-color: transparent;

}

.FooterSection .btn {
    position: relative;
    margin: 10px;
}

.nav {
    max-width: fit-content;
    justify-content: center;
}