@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin-top: 10px;
    font-size: 32px;  
    font-family: 'Anton', sans-serif;
}

.singlePostTitleInput {
  margin-top: 10px;
    font-size: 32px;  
    font-family: 'Anton', sans-serif;
    text-align: center;
    border: none;
    border-bottom: 1px solid #000;
    color: #666;

}

.singlePostEdit {
    float:right;
    height: 32px;

}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16;
    color: #b39656;
}

.singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    overflow-wrap:break-word;
    
}

.singlePostDescInput {
    border: none;
    border-bottom: 1px solid #000;
    color:#666
}

.singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;

}

.singlePostButton {
    border: none;
    background-color: goldenrod;
    width:100px;
    padding:5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-end;
}
