.searchResultCard {
  height: 210px !important;
  overflow: hidden;
}

.thumbnail-cont {
  position: relative;
  overflow: hidden;
}
.cover-blur-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-size: cover;
  filter: blur(3px);
}
.thumbnail {
  object-fit: contain;
  height: 100% !important;
  z-index: 2;
  transition: 0.4s;
}

.thumbnail:hover {
  transform: scale(1.4);
}
